<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../static/js/script.js" defer></script>
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Quick Meet</title>
    </head>
    <body>
        <div id="quick_meet_logo">
            <h1><b>Quick Meet</b></h1>
        </div>
        <div id="quick_meet_short_info">
            Quick Meet - The app created for students to more easily connect, study, chat, and socialize.
        </div>
        <div>
            <div class="buttons_container">
                <a href="/new_meeting" target="_blank"><button class="each_button">New Meeting</button></a>
                <a href="/find_space" target="_blank"><button class="each_button">Search for Meeting</button></a>
            </div>
        </div>
    </body>
</html>
